.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:#0050a0; 
    flex-direction: column; /* add this property to align items vertically */
  }
  
  .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  
  h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: row;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
  
  button[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #9ab6bd;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .split-container {
    height: 100%;
    width: 100%;
    background-color:white;
    color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  
  
  .left-column {
    width: 50%;
    height: 90%;
    padding-right: 5px;
    overflow-y: scroll;
    color: black;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
    padding: 5px;
  }
  
  .right-column {
    padding: 5px;
    width: 50%;
    height: 90%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .centered-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  input[type="text"],
select {
  margin: 10px 0;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

input[type="checkbox"] {
  margin: 10px 0;
  width: auto;
}
.divider {
    background-color: blanchedalmond;
    height: 10px;
}
.bottom-submit {
    justify-content:center;
}
.right-column-title {
  justify-content: center;
}
.advanced-search{
  background-color:white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top: 10px
}