.container {
    height: 100%;
    background-color: #9ab6bd;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .card {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #5490c4;
    border: none;
  }
  .btn-primary:hover {
    background-color: #809ba7;
    border-color: #809ba7;
  }
  a {
    color: #2c3e50;
  }
  
  /*for the split bit*/
  .split-container {
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }  
  
  .left-column {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  .right-column {
    width: 70%;
    height: 90%;
    justify-content: center;

  }
  .checkbox-container {
    flex-direction: column;
  }