.container {
  height: 100%;
  background-color: #9ab6bd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow:hidden;
}
.card {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vw;
  overflow: auto;
}
.organization {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: stretch;
  padding: 10px;
}

.name {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

.description {
  font-size: 1rem;
  margin: 0 0 10px;
  line-height: 1.5;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.time-commitment,
.impact {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.scrolldiv {
  overflow: auto
}