{% extends "base.html"%}
<!--Style-->
{%block style%}
<link rel="stylesheet" href="/static/style/homestyle.css">
{%endblock%}
{%block centerdiv%}
<!--Basic search-->
<div class="container">
  <div class="search-box">
    <h2>Search by organization name</h2>
    <form method="POST">
      <input type="text" name="organization-name" placeholder="Enter name">
      <button type="submit" name="submit" value="simple">Search</button>
    </form>
  </div>

  <!--Advanced search-->
  <div class="advanced-search">
  <h2>Advanced Search:</h2>
  <form class="split-container" method="POST">
    <div class="left-column">
      <h2>Organization Tags</h2>
      <label>
        <input type="checkbox" name="mental-health" value="True">
        Mental Health
      </label>
      <label>
        <input type="checkbox" name="housing" value="True">
        Housing
      </label>
      <label>
        <input type="checkbox" name="environment" value="True">
        Environment
      </label>
      <label>
        <input type="checkbox" name="addiction-recovery" value="True">
        Addiction & Recovery
      </label>
      <label>
        <input type="checkbox" name="elder-care" value="True">
        Elder Care
      </label>
      <label>
        <input type="checkbox" name="food-security" value="True">
        Food Security
      </label>
      <label>
        <input type="checkbox" name="literacy" value="True">
        Literacy
      </label>
    </div>
    <div class="right-column">
      <!--TODDO: Figure out how to center this john-->
      <div class="right-column-title">
        <h2 class="text-center">Additional Options</h2>
      </div>
      <label>
        Org Name:
        <input type="text" name="organization-name" placeholder="Category optional for search">
      </label>
      <label>
        Location:
        <select name="location">
          <!--Decide on scope later, most likely by cardinal instead of county. Greater county region?-->
          <option value=""></option>
          <option value="Whole Bay">Entire Bay Area</option>          
          <option value="Menlo Park">Menlo Park</option>
          <option value="SJ">San Jose</option>
          <option value="SF">San Fransisco</option>
          <option value="On Campus">On Campus</option>
        </select>
      </label>
      <label>
        CE Value:
        <select name="CE">
          <option value=""></option>
          <option value="Varies">Varies</option>          
          <option value="0-1">0-1 Hours</option>
          <option value="1-2">1-2 Hours</option>
          <option value="2+">2+ Hours</option>
        </select>
      </label>
      <label>
        Frequency:
        <select name="frequency">
          <!--One-off and annual might be combined-->
          <!--Probably should include something(JS in-site popup?) saying one off and annual probable overlap-->
          <option value=""></option>
          <option value="One">One-Off</option>
          <option value="Weekly">Weekly</option>
          <option value="Monthly">Monthly</option>
          <option value="Annual">Annual</option>
        </select>
      </label>
    </div>
    <div class="bottom-submit">
      <button type="submit" name="submit" value="complex">Submit</button>
    </div>
  </form>
</div>
</div>

{%endblock%}