{% extends "base.html"%}
<!--Style-->
{%block style%}
<link rel="stylesheet" href="/static/style/orgbuilderstyle.css">
{%endblock%}
{%block centerdiv%}
<div class="container">
    <form method = "POST">
        <div class="card p-4">
            <h2 class="mb-4 text-center">Create Organization</h2>
            <div class = "split-container">
                <div class="left-column">
                    <h2 class="text-center">Tags</h2>
                    <div class="checkbox-container">
                        <label>
                            <input type="checkbox" name="mental-health" value="True">
                            Mental Health
                        </label>
                        <label>
                            <input type="checkbox" name="housing" value="True">
                            Housing
                        </label>
                        <label>
                            <input type="checkbox" name="environment" value="True">
                            Environment
                        </label>
                        <label>
                            <input type="checkbox" name="addiction-recovery" value="True">
                            Addiction & Recovery
                        </label>
                        <label>
                            <input type="checkbox" name="elder-care" value="True">
                            Elder Care
                        </label>
                        <label>
                            <input type="checkbox" name="food-security" value="True">
                            Food Security
                        </label>
                        <label>
                            <input type="checkbox" name="literacy" value="True">
                            Literacy
                        </label>
                    </div>
                </div>
                <div class="right-column">
                    <div class="form-group">
                        <label for="org-name">Organization Name</label>
                        <input type="org-name" class="form-control" id="org-name" name = "organization-name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="org-desc">Description</label>
                        <input type="org-desc" class="form-control" id="org-desc" name = "organization-description" placeholder="Keep it short please!">
                    </div>
                    <label>
                        Time Committment:
                        <select name="time">
                          <option value="0-1">0-1 Hours</option>
                          <option value="1-2">1-2 Hours</option>
                          <option value="2+">2+ Hours</option>
                        </select>
                    </label>
                    <label>
                        Impact:
                        <select name="impact">
                          <option value="low">Low</option>
                          <option value="medium">Medium</option>
                          <option value="high">High</option>
                        </select>
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">Create Organization</button>
        </div>
    </form>
</div>
{%endblock%}